{% extends "base.html" %}
{% block head %}<link rel="stylesheet" href="{{url_for("static", filename="css/style_sign_in")}}">{% endblock %}
{% block title %}Sing in page{% endblock %}
{% block content %}
<div class="text-center" style="margin-top:30px; text-align:center">

{% if not session["logging"] %}
  <p style="color: red">Failed to loggin</p>
  <p style="color: red">User name or password is incorrect</p>
{% endif %}

<style media="screen">
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:
#495057;
background-color:
#fff;
background-clip: padding-box;
border: 1px solid
    #ced4da;
    border-radius: .25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
.text-center {
    text-align: center !important;
}
.form-signin .checkbox {
    font-weight: 400;
}
.mb-3, .my-3 {
    margin-top: -5px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.text-center {
    text-align: center !important;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.text-muted {
    color:
    #6c757d !important;
}
.mt-5, .my-5 {
    margin-top: 1rem !important;
}

</style>

<form class="form-signin">
  <img class="mb-4" src="{{url_for("static", filename="navbar_icon.jpg")}}" alt="" width="72" height="72" style="border-radius:15px">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUsername" class="sr-only">User name</label>
  <input type="text" name="usrname" id="inputUsername" class="form-control" placeholder="User name" required="" autofocus="" >
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="passwd" id="inputPassword" class="form-control" placeholder="Password" required="" >
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" name="remember" value="remember-me" style="margin-top:20px"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:-10px">Sign in</button>
  <a href="/sign_up" class="btn btn-lg btn-outline-secondary btn-block" role="button" style="margin-top:5px;padding: 1px;height: 35px">Click here to sign up</a>
  <p class="mt-5 text-muted">© 2019</p>
</form>

</div>
{% endblock %}



<!-- <form method="post" class="form-signin">
  <img class="mb-4" src="{{url_for("static", filename="navbar_icon.jpg")}}" alt="" width="72" height="72" style="border-radius:15px">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <div class="form-group" style="text-align:center">
    <label class="sr-only" for="exampleInputEmail1">User name</label>
    <input type="text" name="usrname" placeholder="Enter username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width:200px">
    <small id="emailHelp" class="form-text text-muted">Your user name will be shown on the navigation bar.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="passwd" class="form-control" id="exampleInputPassword1" placeholder="Password" style="width:200px">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
<a href="/sign_up" class="btn btn-outline-secondary" role="button" style="margin:5px">Click here if you don't have an account</a> -->
