{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block content %}
<style>
    .text-right {
        float: right;
    }

    .text-left {
        float: left;
    }

    .card-header .alert {
        margin: -5px;
        padding: 0.2rem 1.0rem;
    }

    .card-deck {
        margin: 2.5%;
    }
</style>
<div class="card-deck">
    <div class="card {% if session["color"] == "White" %}bg-light{% endif %}{% if session["color"] == "Black" %}bg-dark{% endif %} mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <p class="alert text-left">Понедельник</p>
        </div>
        <div class="card-body">
            <ul class="list-group">
              {% if subjects["mon"][0] != "" %}
                <li class="list-group-item list-group-item-{% if type_mon[0] == "ЛК" %}success{% endif %}{% if type_mon[0] == "ПЗ" %}info{% endif %}{% if type_mon[0] == "ЛР" %}secondary{% endif %}">
                    8.00-9.35<br><b>{{subjects["mon"][0]}}</b><br>{{auditories["mon"][0][0]}}<br>{{employees["mon"][0]}}
                </li>
              {% endif %}
              {% if subjects["mon"][1] != "" %}
                <li class="list-group-item list-group-item-{% if type_mon[1] == "ЛК" %}success{% endif %}{% if type_mon[1] == "ПЗ" %}info{% endif %}{% if type_mon[1] == "ЛР" %}secondary{% endif %}">
                  11.15-12.35<br><b>{{subjects["mon"][1]}}</b><br>{{auditories["mon"][1][0]}}<br>{{employees["mon"][1]}}
                </li>
                {% endif %}
                {% if subjects["mon"][2] != "" %}
                <li class="list-group-item list-group-item-{% if type_mon[2] == "ЛК" %}success{% endif %}{% if type_mon[2] == "ПЗ" %}info{% endif %}{% if type_mon[2] == "ЛР" %}secondary{% endif %}">
                    11.15-12.35 <br><b>{{subjects["mon"][2]}}</b><br>{{auditories["mon"][2][0]}}<br>{{employees["mon"][2]}}
                </li>
                {% endif %}
                {% if subjects["mon"][3] != "" %}
                <li class="list-group-item list-group-item-{% if type_mon[3] == "ЛК" %}success{% endif %}{% if type_mon[3] == "ПЗ" %}info{% endif %}{% if type_mon[3] == "ЛР" %}secondary{% endif %}">
                  13.00-14.20<br><b>{{subjects["mon"][3]}}</b><br>{{auditories["mon"][3][0]}}<br>{{employees["mon"][3]}}
                </li>
                {% endif %}
                {% if subjects["mon"][4] != "" %}
                <li class="list-group-item list-group-item-{% if type_mon[4] == "ЛК" %}success{% endif %}{% if type_mon[4] == "ПЗ" %}info{% endif %}{% if type_mon[4] == "ЛР" %}secondary{% endif %}">
                    11.15-12.35 <br><b>{{subjects["mon"][4]}}</b><br>{{auditories["mon"][4][0]}}<br>{{employees["mon"][4]}}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every card on sm--></div>
    <div class="card {% if session["color"] == "White" %}bg-light{% endif %}{% if session["color"] == "Black" %}bg-dark{% endif %} mb-3" style="max-width: 18rem;">
        <div class="card-header">Вторник</div>
        <div class="card-body">
            <ul class="list-group">
              {% if subjects["tue"][0] != "" %}
                <li class="list-group-item list-group-item-{% if type_tue[0] == "ЛК" %}success{% endif %}{% if type_tue[0] == "ПЗ" %}info{% endif %}{% if type_tue[0] == "ЛР" %}secondary{% endif %}">
                    8.00-9.35<br><b>{{subjects["tue"][0]}}</b><br>{{auditories["tue"][0][0]}}<br>{{employees["tue"][0]}}
                </li>
              {% endif %}
              {% if subjects["tue"][1] != "" %}
                <li class="list-group-item list-group-item-{% if type_tue[1] == "ЛК" %}success{% endif %}{% if type_tue[1] == "ПЗ" %}info{% endif %}{% if type_tue[1] == "ЛР" %}secondary{% endif %}">
                  11.15-12.35<br><b>{{subjects["tue"][1]}}</b><br>{{auditories["tue"][1][0]}}<br>{{employees["tue"][1]}}
                </li>
                {% endif %}
                {% if subjects["tue"][2] != "" %}
                <li class="list-group-item list-group-item-{% if type_tue[2] == "ЛК" %}success{% endif %}{% if type_tue[2] == "ПЗ" %}info{% endif %}{% if type_tue[2] == "ЛР" %}secondary{% endif %}">
                    11.15-12.35 <br><b>{{subjects["tue"][2]}}</b><br>{{auditories["tue"][2][0]}}<br>{{employees["tue"][2]}}
                </li>
                {% endif %}
                {% if subjects["tue"][3] != "" %}
                <li class="list-group-item list-group-item-{% if type_tue[3] == "ЛК" %}success{% endif %}{% if type_tue[3] == "ПЗ" %}info{% endif %}{% if type_tue[3] == "ЛР" %}secondary{% endif %}">
                  13.00-14.20<br><b>{{subjects["tue"][3]}}</b><br>{{auditories["tue"][3][0]}}<br>{{employees["tue"][3]}}
                </li>
                {% endif %}
                {% if subjects["tue"][4] != "" %}
                <li class="list-group-item list-group-item-{% if type_tue[4] == "ЛК" %}success{% endif %}{% if type_tue[4] == "ПЗ" %}info{% endif %}{% if type_tue[4] == "ЛР" %}secondary{% endif %}">
                    11.15-12.35 <br><b>{{subjects["tue"][4]}}</b><br>{{auditories["tue"][4][0]}}<br>{{employees["tue"][4]}}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every card on sm--></div>
    <div class="card {% if session["color"] == "White" %}bg-light{% endif %}{% if session["color"] == "Black" %}bg-dark{% endif %} mb-3" style="max-width: 18rem;">
        <div class="card-header">Среда</div>
        <div class="card-body">
            <ul class="list-group">
              {% if subjects["wen"][0] != "" %}
                <li class="list-group-item list-group-item-{% if type_wen[0] == "ЛК" %}success{% endif %}{% if type_wen[0] == "ПЗ" %}info{% endif %}{% if type_wen[0] == "ЛР" %}secondary{% endif %}">
                    8.00-9.35<br><b>{{subjects["wen"][0]}}</b><br>{{auditories["wen"][0][0]}}<br>{{employees["wen"][0]}}
                </li>
              {% endif %}
              {% if subjects["wen"][1] != "" %}
                <li class="list-group-item list-group-item-{% if type_wen[1] == "ЛК" %}success{% endif %}{% if type_wen[1] == "ПЗ" %}info{% endif %}{% if type_wen[1] == "ЛР" %}secondary{% endif %}">
                  11.15-12.35<br><b>{{subjects["wen"][1]}}</b><br>{{auditories["wen"][1][0]}}<br>{{employees["wen"][1]}}
                </li>
                {% endif %}
                {% if subjects["wen"][2] != "" %}
                <li class="list-group-item list-group-item-{% if type_wen[2] == "ЛК" %}success{% endif %}{% if type_wen[2] == "ПЗ" %}info{% endif %}{% if type_wen[2] == "ЛР" %}secondary{% endif %}">
                    11.15-12.35 <br><b>{{subjects["wen"][2]}}</b><br>{{auditories["wen"][2][0]}}<br>{{employees["wen"][2]}}
                </li>
                {% endif %}
                {% if subjects["wen"][3] != "" %}
                <li class="list-group-item list-group-item-{% if type_wen[3] == "ЛК" %}success{% endif %}{% if type_wen[3] == "ПЗ" %}info{% endif %}{% if type_wen[3] == "ЛР" %}secondary{% endif %}">
                  13.00-14.20<br><b>{{subjects["wen"][3]}}</b><br>{{auditories["wen"][3][0]}}<br>{{employees["wen"][3]}}
                </li>
                {% endif %}
                {% if subjects["wen"][4] != "" %}
                <li class="list-group-item list-group-item-{% if type_wen[4] == "ЛК" %}success{% endif %}{% if type_wen[4] == "ПЗ" %}info{% endif %}{% if type_wen[4] == "ЛР" %}secondary{% endif %}">
                  13.00-14.20<br><b>{{subjects["wen"][4]}}</b><br>{{auditories["wen"][4][0]}}<br>{{employees["wen"][4]}}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every card on sm--></div>
    <div class="w-100 d-none d-lg-block d-md-block d-xl-none"><!-- wrap every 3 on lg and md--></div>
    <div class="card {% if session["color"] == "White" %}bg-light{% endif %}{% if session["color"] == "Black" %}bg-dark{% endif %} mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <p class="alert text-left">Четверг</p>
        </div>
        <div class="card-body">
            <ul class="list-group">
              {% if subjects["thu"][0] != "" %}
                <li class="list-group-item list-group-item-{% if type_thu[0] == "ЛК" %}success{% endif %}{% if type_thu[0] == "ПЗ" %}info{% endif %}{% if type_thu[0] == "ЛР" %}secondary{% endif %}">
                    8.00-9.35<br><b>{{subjects["thu"][0]}}</b><br>{{auditories["thu"][0][0]}}<br>{{employees["thu"][0]}}
                </li>
              {% endif %}
              {% if subjects["thu"][1] != "" %}
                <li class="list-group-item list-group-item-{% if type_thu[1] == "ЛК" %}success{% endif %}{% if type_thu[1] == "ПЗ" %}info{% endif %}{% if type_thu[1] == "ЛР" %}secondary{% endif %}">
                  11.15-12.35<br><b>{{subjects["thu"][1]}}</b><br>{{auditories["thu"][1][0]}}<br>{{employees["thu"][1]}}
                </li>
                {% endif %}
                {% if subjects["thu"][2] != "" %}
                <li class="list-group-item list-group-item-{% if type_thu[2] == "ЛК" %}success{% endif %}{% if type_thu[2] == "ПЗ" %}info{% endif %}{% if type_thu[2] == "ЛР" %}secondary{% endif %}">
                    11.15-12.35 <br><b>{{subjects["thu"][2]}}</b><br>{{auditories["thu"][2][0]}}<br>{{employees["thu"][2]}}
                </li>
                {% endif %}
                {% if subjects["thu"][3] != "" %}
                <li class="list-group-item list-group-item-{% if type_thu[3] == "ЛК" %}success{% endif %}{% if type_thu[3] == "ПЗ" %}info{% endif %}{% if type_thu[3] == "ЛР" %}secondary{% endif %}">
                  13.00-14.20<br><b>{{subjects["thu"][3]}}</b><br>{{auditories["thu"][3][0]}}<br>{{employees["thu"][3]}}
                </li>
                {% endif %}
                {% if subjects["thu"][4] != "" %}
                <li class="list-group-item list-group-item-{% if type_thu[4] == "ЛК" %}success{% endif %}{% if type_thu[4] == "ПЗ" %}info{% endif %}{% if type_thu[4] == "ЛР" %}secondary{% endif %}">
                    11.15-12.35 <br><b>{{subjects["thu"][4]}}</b><br>{{auditories["thu"][4][0]}}<br>{{employees["thu"][4]}}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every card on sm--></div>
    <div class="card {% if session["color"] == "White" %}bg-light{% endif %}{% if session["color"] == "Black" %}bg-dark{% endif %} mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <p class="alert text-left">Пятница</p>
        </div>
        <div class="card-body">
            <ul class="list-group">
              {% if subjects["fri"][0] != "" %}
                <li class="list-group-item list-group-item-{% if type_fri[0] == "ЛК" %}success{% endif %}{% if type_fri[0] == "ПЗ" %}info{% endif %}{% if type_fri[0] == "ЛР" %}secondary{% endif %}">
                    8.00-9.35<br><b>{{subjects["fri"][0]}}</b><br>{{auditories["fri"][0][0]}}<br>{{employees["fri"][0]}}
                </li>
              {% endif %}
              {% if subjects["fri"][1] != "" %}
                <li class="list-group-item list-group-item-{% if type_fri[1] == "ЛК" %}success{% endif %}{% if type_fri[1] == "ПЗ" %}info{% endif %}{% if type_fri[1] == "ЛР" %}secondary{% endif %}">
                  11.15-12.35<br><b>{{subjects["fri"][1]}}</b><br>{{auditories["fri"][1][0]}}<br>{{employees["fri"][1]}}
                </li>
                {% endif %}
                {% if subjects["fri"][2] != "" %}
                <li class="list-group-item list-group-item-{% if type_fri[2] == "ЛК" %}success{% endif %}{% if type_fri[2] == "ПЗ" %}info{% endif %}{% if type_fri[2] == "ЛР" %}secondary{% endif %}">
                    11.15-12.35 <br><b>{{subjects["fri"][2]}}</b><br>{{auditories["fri"][2][0]}}<br>{{employees["fri"][2]}}
                </li>
                {% endif %}
                {% if subjects["fri"][3] != "" %}
                <li class="list-group-item list-group-item-{% if type_fri[3] == "ЛК" %}success{% endif %}{% if type_fri[3] == "ПЗ" %}info{% endif %}{% if type_fri[3] == "ЛР" %}secondary{% endif %}">
                  13.00-14.20<br><b>{{subjects["fri"][3]}}</b><br>{{auditories["fri"][3][0]}}<br>{{employees["fri"][3]}}
                </li>
                {% endif %}
                {% if subjects["fri"][4] != "" %}
                <li class="list-group-item list-group-item-{% if type_fri[4] == "ЛК" %}success{% endif %}{% if type_fri[4] == "ПЗ" %}info{% endif %}{% if type_fri[4] == "ЛР" %}secondary{% endif %}">
                    11.15-12.35 <br><b>{{subjects["fri"][4]}}</b><br>{{auditories["fri"][4][0]}}<br>{{employees["fri"][4]}}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<form method="post">
  <button type="submit" name="button">Refresh dz pages</button>
</form>
{% endblock %}
