{% extends "base.html" %}
{% block title %}Sing in page{% endblock %}
{% block content %}
<div class="text-center" >

<style media="screen">
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:
#495057;
background-color:
#fff;
background-clip: padding-box;
border: 1px solid
    #ced4da;
    border-radius: .25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
.text-center {
    text-align: center !important;
}
.form-signin .checkbox {
    font-weight: 400;
}
.mb-3, .my-3 {
    margin-top: -5px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.text-center {
    text-align: center !important;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.text-muted {
    color:
    #6c757d !important;
}
.mt-5, .my-5 {
    margin-top: 1rem !important;
}
#passwdHelp{
  color: red !important;
  margin-top:3px;
}

</style>

<form class="form-signin" method="post">
  <img class="mb-4" src="{{url_for("static", filename="images/navbar_icon.jpg")}}" alt="" width="72" height="72" style="border-radius:15px">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <input type="text" name="usrname" id="inputUsername" class="form-control" placeholder="User nickname" required="" autofocus="" aria-describedby="userlHelp">
  <input type="password" name="passwd" id="inputPassword" class="form-control" placeholder="Password" required="" aria-describedby="passwdlHelp">
  {% if not session["sign_in"] %}
  <small id="passwdHelp" class="form-text text-muted" >Failed to sign in! Password or user name is incorrect</small>
  {% endif %}
  <div class="checkbox mb-3">
    <input type="checkbox" name="checkbox" value="True" style="margin-top:20px"> Remember me
    <input type="hidden" name="checkbox" value="False" style="margin-top:20px">
  </div>
  <button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-top:-10px">Sign in</button>
  <a href="/sign_up" class="btn btn-lg btn-outline-secondary btn-block" role="button" style="margin-top:5px;padding: 1px;height: 35px">Click here to sign up</a>
  <p class="mt-5 text-muted">© 2019</p>
</form>

</div>
{% endblock %}
