{% extends "base.html" %}
{% block title %}Profile Page{% endblock %}
{% block content %}
<style media="screen">
#container{
  position:relative;
 /* border:1px solid black; */
}

.box{
  /* border:1px solid red; */
  position:absolute;

}

.container-profile{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.top{
top:0;
}

.news{
  width: 100%;
  left: 0;
  text-align: justify;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.left{
left:0;
width: 30%;
max-width: 350px;
max-height: 350px;
display: inline-block;
display: flex;
justify-content: flex-start;
flex-direction: column;
}
.profile-info{
right:0;
text-align: center;
width: 70%;
}

.text-left{
  text-align: left;
  margin-left: 10%;
}
</style>
<div id="container" class="box container-profile">
  <div class="box top left">
    <img src="{{url_for("static", filename="images/navbar_icon.jpg")}}" width="100%" style="display:inline-block">
    <h2>User nick: {{ values.user }}</h2>
    <div>
      <p>Down here will be news of this site or smth else</p>
    </div>
  </div>

  <div class="box top profile-info">
    <h1>Your profile</h1>
    <div class="text-left">
      <h2>Name: {{ values.name }}</h2>

      <h2>Surname: {{ values.surname }}</h2>

      {%if values.email %}
      <h2>User email: {{ values.email }}</h2>
      {% else %}
      <h2>You don't have an email</h2>
      {% endif %}
      {% if values.biography == "" %}
      <h2>User didn't write his biography :(</h2>
      <!-- <h3>You can go to the profile-edit page and add your biography</h3> -->
      {% else %}
      <h2>User biography:</h2>
      <p style="font-size: 20px"> {{values.biography}} </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
а кстати у тебя по оаипу был автомат или писала экз
